#home {
	background: #ffc107;
	color: rgb(255, 255, 255);;
}
.caixa {
    padding: 60px 0;
    border-bottom: 1px solid(238, 238, 238);

}
footer p a {
    margin: 5px 15px;;
}

.nav-item {
    font-display: #ffffff;
}

.btn-primary {
    background: #ffffff;
    border: #ffc107;
}

.caixa {
    background: rgb(100, 100, 100);
    color: black;
}

.row {
    color: #ffffff;
}

.btn-outline-light {
    background: #000000;
    border: white;
}

.align-self-center {
    color:#000000
}

.btn-primary {
    background: #000000;
}

.align-self-center {
    color: white;
}

.col-md-6 {
    padding-top: 10px;
}

.col-md-4 {
    margin-top: 2px;

}

